<a href="https://colab.research.google.com/github/Alexander-57/Py_Lesson_1/blob/master/Copy_of_Copy_of_%D0%90%D0%BF%D1%80%D0%B5%D0%BB%D1%8C%D1%81%D0%BA%D0%B8%D0%B9_%D0%BA%D1%83%D1%80%D1%81_2020_Light_%D0%97%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D0%B5_1_%D0%A1%D0%B8%D0%BD%D1%82%D0%B0%D0%BA%D1%81%D0%B8%D1%81_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Основы Python 

Для прикладных целей важно овладеть несколькими аспектами:

- Стандартные функции языка
- Переменные и типы данных
- Основные конструкции
- Написание пользовательских функций
- Загрузка и использование библиотек

## Стандартные функции языка

Функции - это маленькие программки, которые умеют выполнять какую-то операцию. <br />
Функции <b>вызываются</b>, после имени функции следуют круглые скобки, в которых указываются <b>аргументы</b> (над каким объектом будет выполнена операция) и <b>параметры </b> (с какими условиями).

### print()

Функция для вывода содержимого на экран. <br>
**Обязательно** передать хотя бы какой-то объект, который нужно напечатать.

Ее полный синтаксис:

print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)¶
- objects: один или несколько объектов для вывода, перечисленные через запятую
- sep: разделитель между несколькими объектами; стандартно установлен пробел
- end: окончание строки; стандартно установлен перевод на новую строчку '\n'

In [0]:
print(4) # Вызываем функцию print и в скобках передаем ей параметр, который требуется напечатать

4

In [0]:
print?

In [0]:
print(5,6,7,8) # Вызываем функцию print и в скобках передаем ей набор параметров, который требуется напечатать

5 6 7 8

In [0]:
print(5, 6, 7, 8, sep='_') # Вызываем функцию print, в скобках передаем ей набор параметров и разделтель между ними

5_6_7_8

In [0]:
print("Май") # Вызываем функцию print и в скобках передаем ей параметр, который требуется напечатать (в данном случае печатаем текстовую информацию)

Май

In [0]:
print('Переменная равна: {}'.format(5)) # Вызываем функцию print, которая использует функцию format для подстановки значения

Переменная равна: 5

In [0]:
print('Переменная равна:',5) # Альтернативный вариант печати информации из предыдущего пункта

Переменная равна: 5

In [0]:
print('Переменная равна: {} и вторая переменная равна: {}'.format(5, 7)) # Вызываем функцию print, которая использует функцию format для подстановки двух значений

Переменная равна: 5 и вторая переменная равна: 7

In [0]:
print('Переменная равна: {} и вторая переменная равна: {}'.format(5.123, 7.9384950)) # Альтернативный вариант печати информации из предыдущего пункта

Переменная равна: 5.123 и вторая переменная равна: 7.938495

In [0]:
print('Переменная равна: {:.1f} и вторая переменная равна: {:.3f}'.format(5.123, 7.9384950)) # Пример округления чисел с помощью функции format

Переменная равна: 5.1 и вторая переменная равна: 7.938

#### Задача 1

Выведите на экран фразу "Hello, world!"

In [0]:
# Решение задачи с помощью функции print
print('Hello, world!')

Hello, world!

### Арифметические операции


- Сложение: +
- Вычитание: -
- Умножение: *
- Деление: /
- Возведение в степень: **
- Целочисленное деление: //
- Остаток от деления: %

In [0]:
print('Работаем с числами', 5, 'и', 2) # Вызываем функцию print для печати сообщения 
print(5 + 2) # Вызываем функцию print, которая выведет результат сложения 5 и 2
print(5 - 2) # Вызываем функцию print, которая выведет разность 5 и 2
print(5 * 2) # Вызываем функцию print, которая выведет произведение 5 и 2
print(5 / 2) # Вызываем функцию print, которая выведет частное 5 и 2
print(5 // 2) # Вызываем функцию print, которая выведет результат целочисленного деления 5 на 2
print('Результат остатка от деления:', 5 % 2) # Вызываем функцию print, которая выведет остаток от деления 5 на 2
print('Результат возведения в степени:', 5 ** 2) # Вызываем функцию print, которая выведет результат возведения в квадрат числа 5

Работаем с числами 5 и 2
7
3
10
2.5
2
Результат остатка от деления: 1
Результат возведения в степени: 25

Для выведения результата на экран не обязательно прописывать print(), можно просто выполнить ячейку, при этом отобразится результат только последней строчки кода:

In [0]:
5 + 2 # Складываем 5 и 2

7

In [0]:
5 + 2 # Складываем 5 и 2
5 * 2 # Умножаем 5 на 2

10

In [0]:
print(5 + 2) # Вызываем функцию print, которая выведет результат сложения 5 и 2
5 * 2 # Умножаем 5 на 2

7

10

In [0]:
print(5 + 2) # Вызываем функцию print, которая выведет результат сложения 5 и 2
print(5 * 2) # Вызываем функцию print, которая выведет произведение 5 и 2

7
10

#### Задача 2

Найти площадь круга с радиусом $R = 5$. Подсказка: площадь круга вычисляется по формуле $S = \pi * R^2, \pi$ ~ 3.14

In [0]:
# Решение задачи
print('Площадь круга равна:', 3.14 * (5**2))

Площадь круга равна: 78.5

### Переменные и типы переменных


Результаты операций и манипуляций иногда нужно сохранять, поэтому мы определяем переменные - именованные объекты, которым присваиваем значения.

In [0]:
# Задаем значения переменных
S = 100 # Создаем переменную S и присваиваем ей значение 100
pi_ = 3.14 # Создаем переменную pi_  и присваиваем ей значение 3.14

In [0]:
r = (S / pi_) ** (0.5) # Создаем переменную r и присваиваем ей значение, которое получается в  результате (S / pi_) ** (0.5)

In [0]:
print('r', round(r,2), sep='=')  # Вызываем функцию print, которая выведет переменную r, округленную до двух знаков после запятой

r=5.64

#### Задача 3

Найти площадь круга с радиусом $R = 5$. Подсказка: площадь круга вычисляется по формуле $S = \pi * R^2, \pi$ ~ 3.14

- Создайте переменную r со значением 5
- Создайте переменную pi_ со значением 3.14
- Сохраните результат вычисления в переменную S
- Выведите на печать результаты

In [0]:
# Решение задачи
r = 5
pi_ = 3.14
S = pi_ * r ** 2
print ('Площадь круга равна:', round(S,2))

Площадь круга равна: 78.5

### input()

Функция для ввода данных в программу с клавиатуры. <br>
Обязательных аргументов нет. Можно передавать строчку, которая будет выведена перед ячейкой ввода.

In [0]:
name = input() # Вызываем функцию input, которая позволяет вводить данные с клавиатуры и записываем введенные данные в переменную name
print('Меня зовут ', name) # Вызываем функцию print, которая выведет значение переменной name

Вася
Меня зовут  Вася

А здесь небольшое преобразование позволит вывести перед ячейкой ввода нужный текст.

In [0]:
name = input('Введите ваше имя: ') # Вызываем функцию input с приветственным сообщением, которая позволяет вводить данные с клавиатуры и записываем введенные данные в переменную name
print('Меня зовут ', name) # Вызываем функцию print, которая выведет значение переменной name

Введите ваше имя: Александр
Меня зовут  Александр

### Основные типы данных:

   
- int (integer numbers) - целые числа
- float (floating-point numbers) - числа с плавающей точкой
- str (string) - строки
- bool (boolean) - логический тип

Функция **type** позволяет определить, какого типа переменная нам дана или какого типа переменную мы записали.

In [0]:
print(type(r)) # Вызываем функцию print, которая выведет тип переменной r
print(type(S)) # Вызываем функцию print, которая выведет тип переменной S

<class 'int'>
<class 'float'>

In [0]:
text = 'Площадь круга' # Создаем переменную с именем text и присваиваем ей значение "Площадь круга"
print(type(text)) # Вызываем функцию print, которая выведет тип переменной text

<class 'str'>

In [0]:
x = True # Создаем переменную с именем x и присваиваем ей значение True
print(type(x)) # Вызываем функцию print, которая выведет тип переменной x

<class 'bool'>

Если нужно поменять тип переменной, то полезны функции:

- int() - возвращает целочисленную переменную
- float() - возвращает нецелочисленную переменную
- bool() - возвращает булеву переменную
- str() - возвращает строковую переменную

In [0]:
print(r, type(r)) # Вызываем функцию print, которая выведет значение и тип переменной r
r_new = str(r) # Создадим переменную r_new и запишем в нее значение переменной r, преобразованной к типу str (строковый)
print(r_new, type(r_new)) # Вызываем функцию print, которая выведет значение и тип переменной r_new
print('Радиус ' +  'круга: ' + r_new) # Вызываем функцию print, которая выведет радиус круга, записанный в переменной r_new

5 <class 'int'>
5 <class 'str'>
Радиус круга: 5

In [0]:
# Конкатенация строк
conc = 'Мое имя' + ' ' + 'Дмитрий' # Создадим переменную conc и запишем в нее резуьтат конкатенации 3 текстовых значения
print(conc) # Вызываем функцию print, которая выведет значение переменной conc

Мое имя Дмитрий

In [0]:
print(10 - float(r_new)) # Вызываем функцию print, которая выведет разность 10 и переменной r_new, преобразованной к типу float

5.0

##  Базовые конструкции

### Логические выражения 


По аналогии с арифметическими выражениями существуют логические выражения, которые могут быть истинными или ложными. Простое логическое выражение имеет вид <br /> 

<арифметическое выражение> <знак сравнения> <арифметическое выражение>. <br /> 

Например, если у нас есть переменные x и y с какими-то значениями, то логическое выражение <br /> x + y < 3y <br /> в качестве первого арифметического выражения имеет x + y, в качестве знака сравнения < (меньше), а второе арифметическое выражение в нём 3y.

Логические выражения:
- $<$   меньше
- $>$  больше
- $<=$  меньше или равно
- $>=$  больше или равно
- $==$  равно
- $!=$  не равно

In [0]:
2 != 3 # Проверяем на неравенство 2 и 3

True

In [0]:
a = 2 # Создаем переменную с именем a и присваиваем ей значение 2
b = 3 # Создаем переменную с именем b и присваиваем ей значение 3
 
a != b # Проверяем на неравенство переменные a и b

True

In [0]:
x = 2 * 2 == 5 # Создаем переменную x и присваиваем ей результат выражения 2 * 2 == 5
print(type(x)) # Вызываем функцию print, которая выведет тип переменной x
print(x) # Вызываем функцию print, которая выведет значение переменной x
print(int(x)) # Вызываем функцию print, которая выведет значение переменной x, преобразованной к типу int

<class 'bool'>
False
0

In [0]:
x = 2 * 2 != 5 # Создаем переменную x и присваиваем ей результат выражения 2 * 2 != 5
print(type(x)) # Вызываем функцию print, которая выведет тип переменной x
print(x) # Вызываем функцию print, которая выведет значение переменной x
print(int(x)) # Вызываем функцию print, которая выведет значение переменной x, преобразованной к типу int

<class 'bool'>
True
1

Чтобы записать сложное логическое выражение, часто бывает необходимо воспользоваться логическими связками "и", "или" и "не". В Питоне они обозначаются как and, or и not соответственно. Операции and и or являеются бинарными, т.е. должны быть записаны между операндами, например x < 3 or y > 2. Операция not - унарная и должна быть записана перед единственным своим операндом.

In [0]:
x = 4 # Создаем переменную x и присваиваем ей значение 4
y = 5 # Создаем переменную y и присваиваем ей значение 5
print(x > 3 and y > 3) # Вызываем функцию print, которая выведет результат выражения (x > 3 and y > 3)
print(x > y or x == y) # Вызываем функцию print, которая выведет результат выражения (x > y or x == y)
print(not (x > y)) # Вызываем функцию print, которая выведет результат выражения (not (x > y))

True
False
True

In [0]:
a = 1 # Создаем переменную a и присваиваем ей значение 1
b = 2 # Создаем переменную b и присваиваем ей значение 2
c = 3 # Создаем переменную c и присваиваем ей значение 3
d = 4 # Создаем переменную d и присваиваем ей значение 4

((a == d) and (a > c)) != 4 # Считаем значение выражения

True

In [0]:
((False) and (False)) != 4 # Считаем значение выражения

True

In [0]:
False != 4 # Проверяем на неравенство False и 4

True

#### Задача 4

Сравните $2^3$ и $3^2$. Результат распечатайте.

In [0]:
# Место для решения
a = 2 ** 3
b = 3 ** 2
print (a, b)
print (a == b)
print (a > b)
print (a < b)

8 9
False
False
True

#### Задача 5

Напишите логическое выражение для проверки попадания введенного числа в интервал от 0 до 10.

In [0]:
# Место для решения
value = int(input('Введите целое число:'))
0 <= value <= 10

Введите целое число:1

True


### Условный оператор

Наиболее частое применение логические выражения находят в условных операторах.

Синтаксис в питоне: <br />
**if** условие_1:<br />
&emsp; команды<br />
**elif** условие_2:<br />
&emsp; команды<br />
**elif** условие_3:<br />
&emsp; команды<br />
&emsp; ... <br />
**elif** условие_N:<br />
&emsp; команды<br />
**else**: <br />
&emsp; команды<br />

**Пример**

In [0]:
x = 2 ** 3   # Создаем переменную x и присваиваем ей значение 2 ** 3
y = 3 ** 2   # Создаем переменную y и присваиваем ей значение 3 ** 2

if x > y: # Если x > y
    print('X больше Y') # то вызываем функцию print, которая выведет фразу: 'X больше Y'
    print(x - y) # И вызываем фугкцию print, которая выведет разность x и y
else: # В противном случае (если x >= y)
    print('') # Вызвываем функцию print, которая выведет пустую строку
    print('Y не меньше, чем X') # и вызываем функцию print, которая выведет фразу: 'Y не меньше, чем X'

Y не меньше, чем X

In [0]:
x = int(input('Введите число X: ')) # Вызываем функцию input (просим пользователя ввести число X) и записываем введенные данные в переменную x (при этом преобразуем их к типу int)
y = int(input('Введите число Y: ')) # Вызываем функцию input (просим пользователя ввести число Y) и записываем введенные данные в переменную y (при этом преобразуем их к типу int)

if x > y: # Если x > y
    print('X больше Y') # то вызываем функцию print, которая выведет фразу: 'X больше Y'
    print('x - y = ', x - y) # И вызываем фугкцию print, которая выведет разность x и y
elif y > x: # в противном случае, если y > x
    print('Y больше X') # то вызываем функцию print, которая выведет фразу: 'Y больше X'
    print('y - x = ', y - x) # И вызываем фугкцию print, которая выведет разность y и x
else: # в противном случае (x равен y)
    print('X равно Y') # вызываем функцию print, которая выведет фразу: 'X равно Y'

Введите число X: 6
Введите число Y: 9
Y больше X
y - x =  3

#### Задача 6
Вас позвали на конференцию, которая будет проходить в другом городе, но времени до выезда осталось не так много. Напишите своим коллегам как можно быстрее, что вы думаете об этой идее. 

Если до вылета остается меньше 8 часов, то вы навряд ли успеете на самолет, так что должна появиться строчка "К сожалению, я не успеваю!", иначе - "Ждите меня у входа в аэропорт".

In [0]:
# Место для решения
hours = int(input('Сколько часов осталось до вылета?'))
if hours <0:
  print('Самолёт уже улетел!')
elif hours <8:
  print('К сожалению я не успеваю!')
else:
  print('Ждите меня у входа в аэропорт.')

Сколько часов осталось до вылета?-4
Самолёт уже улетел!

2) Вас позвали на конференцию, которая будет проходить в другом городе, но времени до выезда осталось не так много, к тому же вы не знаете, получится ли взять выходной. Необходимо проверить ближайшие рейсы и предупредить начальство. Напишите своим коллегам как можно быстрее, что вы думаете об этой идее. 

Если до вылета остается больше 8 часов, а до начальства вы не добрались, то напишите: "Предупредите, пожалуйста, шефа о конференции". Если вы успеваете везде, напишите: "Ждите меня у входа в аэропорт". В случае, когда остается меньше 8 часов и начальство не в курсе, то должна появиться строчка "К сожалению, я не успеваю!"

In [0]:
# Введите любое число
hours = int(input('Время до вылета: '))
# Введите да или нет
boss = input('Начальство предупреждено? ')

if hours > 8 and boss == 'да':
    print("Ждите меня у входа в аэропорт")
    
elif hours > 8 and boss == 'нет':
    print("Предупредите, пожалуйста, шефа о конференции")
    
else:
    print("К сожалению, я не успеваю!")

Время до вылета: 12
Начальство предупреждено? нет
Предупредите, пожалуйста, шефа о конференции

### Цикл while

Циклические конструкции используются для многократного повторения одних и тех же действий. 

В цикле while команды выполняются до тех пор, пока некоторое заданное условие верно. При этом, если в теле цикла прямо не прописана процедура изменения переменной, заданной в условии, то получится бесконечный цикл.

Структура цикла while:

In [20]:
layers_num = 3 # Создаем переменную layers_num и записываем в нее значение 3

while layers_num > 0: # Пока значение переменной layers_num > 0
    print('Это многослойная сеть') # Вызываем функцию print, которая напечатает фразу 'Это многослойная сеть'
    layers_num -=1 # Уменьшаем значение переменной layers_num на 1 (то же самое, что и layers_num = layers_num - 1)

Это многослойная сеть
Это многослойная сеть
Это многослойная сеть

#### Задача 7

По данному целому числу N распечатайте все квадраты натуральных чисел, не превосходящие N, в порядке возрастания.

In [24]:
# Место для решения
N = int(input('Введите целое число: '))
i = 1
while i ** 2 < N:
  print(i ,i ** 2)
  i += 1

Введите целое число: 246
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225

In [25]:
# Место для решения
i = 1
while i <= 10:
  print(i)
  i += 1
  if i == 4:
    break

1
2
3

In [26]:
# Место для решения
i = 1
while i <= 10:
  if i == 4:
    i+= 1
    continue
  print(i)
  i+=1

1
2
3
5
6
7
8
9
10

## Цикл for


Команды в цикле for выполняются для заданного списка объектов и повторяются столько раз, сколько этих объектов.

Дословно это работает так: 

*Питон, для каждого объекта из списка объектов выполни, пожалуйста, вот это действие* :)

### Функция range(n)

Функция range выдает последовательность чисел в зависимости от заданных параметров.

Синтаксис функции:

In [27]:
for i in range(10): # Создаем цикл for, в котором переменная i поочередно будет принимать значения от 0 до 9
    print(i) # Вызываем функцию print, которая выводит значение переменной i

0
1
2
3
4
5
6
7
8
9

In [28]:
for i in range(3, 12): # Создаем цикл for, в котором переменная i поочередно будет принимать значения от 3 до 11
    print(i) # Вызываем функцию print, которая выводит значение переменной i

3
4
5
6
7
8
9
10
11

In [29]:
for i in range(3, 12, 2): # Создаем цикл for, в котором переменная i поочередно будет принимать значения от 3 до 11 c шагом 2
    print(i) # Вызываем функцию print, которая выводит значение переменной i

3
5
7
9
11

In [30]:
for i in range(1, 5): # Создаем цикл for, в котором переменная i поочередно будет принимать значения от 1 до 4
    print(i) # Вызываем функцию print, которая выводит значение переменной i

1
2
3
4

In [31]:
for animal in ['кошка', 'собака', 'енот', 'лиса']: # Создаем цикл for, в котором переменная animal поочередно будет принимать значения из последовательности 'кошка', 'собака', 'енот', 'лиса' 
    print(animal) # Вызываем функцию print, которая выводит значение переменной animal

кошка
собака
енот
лиса

#### Задача 8

По данному целому числу N распечатайте все квадраты натуральных чисел, не превосходящие N, в порядке возрастания с использованием цикла for

In [34]:
# Место для решения
N = int(input('Введите целое число: '))
for i in range(1, N):
  if i ** 2 > N:
    break
  print(i ** 2)

Введите целое число: 7
1
4

## Базовые структуры

### Список (list)


Среди наших коллег провели опрос о том, какие ассоциации вызывает каждое из времен года. Итог опроса показал среди топовых ассоциаций следующие:

In [0]:
zima = 'снег' # Создаем переменную zima и записываем в нее значение 'снег'
vesna = 'солнце' # Создаем переменную vesna и записываем в нее значение 'солнце'
leto = 'фрукты' # Создаем переменную leto и записываем в нее значение 'фрукты' 
osen = 'листья' # Создаем переменную osen и записываем в нее значение 'листья'

Но это не очень удобно, можно хранить всю информацию в одной переменной:

In [37]:
associations = ['снег', 'солнце', 'фрукты', 'листья'] # Создаем список значений
print(associations) # Вызываем функцию print, которая выводит значения списка associations

['снег', 'солнце', 'фрукты', 'листья']

In [39]:
a1 = list() # Создаем пустой список a1
a2 = [] # Создаем пустой список a2
print(a1) # Вызываем функцию print, которая выводит значения списка a1
print(a2) # Вызываем функцию print, которая выводит значения списка a2

[]
[]

В списке можно хранить информацию разных типов:

In [40]:
my_list = [20, 'город', 0.45, 2 + 3j] # Создаем список из элементов различных типов
print(my_list) # Вызываем функцию print, которая выводит значения списка my_list

[20, 'город', 0.45, (2+3j)]

К элементам списка можно обращаться по индексу:

In [41]:
associations[0]  # Вызываем функцию print, которая выводит значение 0-го элемента списка associations

'снег'

In [42]:
for el in range(-4, 0): # Создаем цикл for, в котором переменная el поочередно будет принимать значения от -4 до -1
    print('Это значение индекса: {}, а это элемент списка: {}'.format(el, associations[el])) # Вызываем функцию print, которая выводит значение переменной el и значение элемента списка associations с индексом el

Это значение индекса: -4, а это элемент списка: снег
Это значение индекса: -3, а это элемент списка: солнце
Это значение индекса: -2, а это элемент списка: фрукты
Это значение индекса: -1, а это элемент списка: листья

Листы можно итерировать естественным способом:

In [43]:
for a in associations: # Создаем цикл for, в котором переменная a поочередно будет принимать значения из списка associations
    print(a)  # Вызываем функцию print, которая выводит значение элемента списка associations с индексом a

снег
солнце
фрукты
листья

In [44]:
for i in range(4): # Создаем цикл for, в котором переменная i поочередно будет принимать значения от 0 до 3
    print(associations[i]) # Вызываем функцию print, которая выводит значение элемента списка associations с индексом i

снег
солнце
фрукты
листья

А еще бывает лист из листов :)

In [45]:
associations = [['Зима', 'снег'], ['Весна', 'солнце'], ['Лето', 'фрукты'], ['Осень', 'листья']] # Создаем список, элементы которого также являются списками
print(associations) # Вызываем функцию print, которая выводит список associations

[['Зима', 'снег'], ['Весна', 'солнце'], ['Лето', 'фрукты'], ['Осень', 'листья']]

In [46]:
for el in associations: # Создаем цикл for, в котором переменная el поочередно будет принимать значения из списка associations
    print('время года: {}, ассоциация: {}'.format(el[0], el[1])) # Вызываем функцию print, которая выводит 0-е и 1-е значение элемента el

время года: Зима, ассоциация: снег
время года: Весна, ассоциация: солнце
время года: Лето, ассоциация: фрукты
время года: Осень, ассоциация: листья

**Есть много методов, т.е. функций, которые присущи только листам, для работы с листами:**

Методы
- list.append(x)	Добавляет элемент в конец списка
- list.extend(L)	Расширяет список list, добавляя в конец все элементы списка L
- list.insert(i, x)	Вставляет на i-ый элемент значение x
- list.remove(x)	Удаляет первый элемент в списке, имеющий значение x ValueError, если такого элемента не существует
- list.pop([i])	Удаляет i-ый элемент и возвращает его. Если индекс не указан, удаляется последний элемент
- list.index(x, [start [, end]])	Возвращает положение первого элемента со значением x (при этом поиск ведется от start до end)
- list.count(x)	Возвращает количество элементов со значением x
- list.sort([key=функция])	Сортирует список на основе функции
- list.reverse()	Разворачивает список
- list.copy()	Поверхностная копия списка
- list.clear()	Очищает список

### Словарь (dict)

In [0]:
my_dict = {'Зима' : 'снег', 
           'Весна' : 'солнце', 
           'Лето' : 'фрукты',
           'Осень' : 'листья'
          } # Создаем словарь значение

In [48]:
my_dict # Отображаем созданный словарь

{'Весна': 'солнце', 'Зима': 'снег', 'Лето': 'фрукты', 'Осень': 'листья'}

У словаря есть 'ключи' и 'значения':

In [49]:
my_dict.keys() # Вызываем метод .keys(), который вернет набор ключей словаря

dict_keys(['Зима', 'Весна', 'Лето', 'Осень'])

In [50]:
my_dict.values() # Вызываем метод .keys(), который вернет набор значений словаря

dict_values(['снег', 'солнце', 'фрукты', 'листья'])

In [51]:
my_dict.items() # Вызываем метод .items(), который вернет набор пар: ключ-значение

dict_items([('Зима', 'снег'), ('Весна', 'солнце'), ('Лето', 'фрукты'), ('Осень', 'листья')])

In [52]:
my_dict['Зима'] # Получаем значение элемента словаря с ключом 'Зима'

'снег'

In [53]:
element = my_dict.pop('Зима') # Удаляем из словаря элемент с ключом 'Зима' и записываем значение по этому ключу в переменную element
print(element) # Вызываем функцию print, которая выводит значение переменной element
print(my_dict) # Вызываем функцию print, которая выводит словарь my_dict

снег
{'Весна': 'солнце', 'Лето': 'фрукты', 'Осень': 'листья'}

# **Глоссарий**

*Функции (из коробки):*

**print()** - вывод на экран

**input()** - ввод с клавиатуры

**len()** - длина объекта

**range()** - диапазон чисел


*Основные типы данных:*


**int** - целые числа (7)

**float** - числа с плавающей точкой (7.0)

**string** - строковые данные ('строка')

**bool** - булевы данные (True/False)

*Базовые структуры данных:*

**list** - структура, предназначенная для хранения данных разных типов. 
> преобразовать объект в список **list()**

**set** - множество - похож на список с разницей, что в нем не может быть повторяющихся элементов. Т.е., если список может быть [1,2,2], то множество будет (1,2).
> преобразовать объект в множество/создать пустое множество **set()**

**tuple** - кортеж - похож на список с разницей, что в него нельзя добавить новые элементы.
> преобразовать объект в кортеж/создать новый кортеж **tuple()**

**dict** - структура, предназначенная для хранения данных разных типов, при этом организована по типу ключа-значение.
> преобразовать в словарь/ создать новый словарь {КЛЮЧ:ЗНАЧЕНИЕ}

# Краткий гайд по обозначениям в Python

Если это...

[ ] - список

( ) - кортеж 

{ } - словарь 

----------------

[ [ ], [ ] ] - список списков

[ ( ) , ( ) ] - список кортежей

[ { } , { } ] - список словарей

----------------
( [ ] , [ ] ) - кортеж из списков

( ( ) , ( ) ) - котреж из кортежей

( { } , { } ) - кортеж из словарей

----------------
{ключ:[значение]} - словарь и значение представлено в виде списка
{ключ: ()} - словарь и значение представлено в виде кортежа

.() - функция/метод 

Пример: 

         a = [5, 2, 3, 1, 4]
        
         a.sort() # вызываем функцию сортировки

         >>>>[1, 2, 3, 4, 5]

.- атрибут объекта

        array.shape


А если так, то...

a[ ] - вытащить значение под конкретным индексом. **а** является в этом случае итерируемым объектом (объект, в котором есть другие объекты)

a( ) - вызвать функцию (если необходимы параметры, то указываются в скобках)